<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="flexem.fbox.assistant">
    <!-- 以下是sdk所需权限 -->
    <!-- 基础功能所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 配网所需权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- 对讲所需权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 视频通话权限所需 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 以上是sdk所需权限 -->

    <!-- 以下是demo所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 以上是demo所需权限 -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- App receives push messages."my_app_package.push.sdk.permission.EZVIZ_MESSAGE" -->
<!--    <permission-->
<!--        android:name="flexem.fbox.assistant.push.sdk.permission.EZVIZ_MESSAGE"-->
<!--        android:protectionLevel="signature" />-->

<!--    <uses-permission android:name="flexem.fbox.assistant.push.sdk.permission.EZVIZ_MESSAGE" />-->

<!--    <permission-->
<!--        android:name="flexem.fbox.assistant.permission.C2D_MESSAGE"-->
<!--        android:protectionLevel="signature" />-->

<!--    <uses-permission android:name="flexem.fbox.assistant.permission.C2D_MESSAGE" /> &lt;!&ndash; App receives GCM messages. &ndash;&gt;-->
<!--    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> &lt;!&ndash; GCM connects to Google Services. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> &lt;!&ndash; Keeps the processor from sleeping when a message is received. &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" /> &lt;!&ndash; videoTalk call &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/videogo_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning, LockedOrientationActivity">
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.videogo.ui.realplay.EZRealPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>